{% extends 'layout_front_office.html.twig' %}

{% block title %}JeBenevole - {% trans %}association_create_page_title{% endtrans %}{% endblock %}

{% block body %}
    {%if app.request.attributes.get('_route') == 'new_association' %}
        <h1>{% trans %}association_create_title{% endtrans %}</h1>
        {{ include('association/_form.html.twig', {form: form, button: 'form_btn_creer'|trans}) }}
    {% endif %}

    {%if app.request.attributes.get('_route') == 'edit_association' %}
        <h1>{% trans %}association_edit_title{% endtrans %}</h1>
        {{ include('association/_form.html.twig', {form: form, button: 'form_btn_modifier'|trans}) }}
    {% endif %}

{% endblock %}