{% extends 'base.html.twig' %}

{% block title %}Hello AssociationController!{% endblock %}

{% block body %}
    <h1>Create Association</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

{% endblock %}