{% extends 'base.html.twig' %}

{% block title %}JeBenevole - créer ou éditer une association{% endblock %}

{% block body %}
    {%if app.request.attributes.get('_route') == 'new_association' %}
        <h1>Create Association</h1>
        {{ include('association/_form.html.twig', {form: form, button: 'Créer'}) }}
    {% endif %}

    {%if app.request.attributes.get('_route') == 'edit_association' %}
        <h1>Edit Association</h1>
        {{ include('association/_form.html.twig', {form: form, button: 'Modifier'}) }}
    {% endif %}

{% endblock %}