{% extends 'base.html.twig' %}

{% block title %}Hello AssociationController!{% endblock %}

{% block body %}
    <h1>Create Association</h1>

    {{ include('association/_form.html.twig', {form: form, button: 'Créer'}) }}

{% endblock %}