{% extends 'base.html.twig' %}

{% block title %}JeBenevole - {% trans %}association_list_page_title{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}association_list_title{% endtrans %}</h1>

    <table>
        <thead>
            <tr>
                <th>Associations</th>
                <th>Emails</th>
                <th>Villes</th>
            </tr>
        </thead>
        <tbody>
            {% for association in associations %}
                <tr>
                    <td>{{ association.name }}</td>
                    <td>{{ association.email }}</td>
                    <td>{{ association.city }}({{ association.zip }})</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>   

{% endblock %}