.footer{
    height: $navbar-height;
    line-height: $navbar-height;
    padding: 0 0.5rem;
    align-items: center;
}

.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }