.navbar .navbar-menu .navbar-link{
  &.active{
    background-color: transparent;
      color: $error;
  }
  &:hover{
    background-color: transparent;
    color: $warning;
  }
}

.sidenav .sidenav-link{
  &.active{
    background-color: transparent;
    color: $error;
  }
  &:hover{
    background-color: transparent;
    color: $warning;
  }
}

.navbar-menu{
  justify-content: space-around;
}
    