.navbar .navbar-menu .navbar-link{
  &.active{
    background-color: transparent;
      color: $error;
  }
  &:hover{
    background-color: transparent;
    color: $warning;
  }
}

.sidenav .sidenav-link{
  &.active{
    background-color: transparent;
    color: $error;
  }
  &:hover{
    background-color: transparent;
    color: $warning;
  }
}

.navbar-menu{
  justify-content: space-around;
}

@mixin mobile-only {
  @media screen and (max-width: 960px){
    min-height: 10rem;
  }
}

.footer{
  @include mobile-only;
}