{% extends 'layout_front_office.html.twig' %}

{% block title %}JeBenevole{% endblock %}

{% block javascripts %}<script defer src="{{asset('assets/js/validations/login.js')}}"></script> {% endblock %}

{% block body %}
{% if error %}
    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

{# todo : front + trans #}
<main class="grix xs6 md12">
    <section class="txt-center col-xs4 pos-xs2 col-md6 pos-md4">
        <h1 class="text-center">Connexion</h1>

        <form method="post" id="form" class="grix md1">
            <p class="error"></p>
            <fieldset class="grix xs3 md8">
                <label for="inputEmail" class="self-left txt-left col-xs1 col-md3">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control rounded-1 m-1 p-1 col-xs2 col-md5" autocomplete="email" required autofocus>
            </fieldset>

            <fieldset class="grix xs3 md8">
                <label for="inputPassword" class="self-left txt-left col-xs1 col-md3">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control rounded-1 m-1 p-1 col-xs2 col-md5" required autocomplete="current-password">
            </fieldset>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn primary mx-auto my-2" type="submit">Valider</button>
        </form>
    </section>
</main>
{% endblock %}