
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###


###> phpstorm config
.idea
###< phpstorm config

###> assets
/public/images
/public/assets/scss/front_office.css
/public/assets/scss/back_office.css
/public/assets/scss/front_office.min.css
/public/assets/scss/back_office.min.css
###< assets

###> scss from linux
/public/assets/scss/*.map
###> scss from linux