$error: #D55342;
$primary: #254151;
$secondary: #E7E7E7;
$success: #45B29D;
$warning: #F4CE50;
$sidenav: #085592;

$axentix-palette: (
  'sidenav': #085592,
  'error': #D55342,
  'primary': #254151,
  'secondary': #E7E7E7,
  'success': #45B29D,
  'warning': #F4CE50,
);