<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}JeBenevole{% endblock %}</title>

        <!-- Axentix CSS minified version FROM CDN FOR TEST-->
        {# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/css/axentix.min.css"> #}
        {# <script defer src="https://cdn.jsdelivr.net/npm/axentix@1.3.3/dist/js/axentix.min.js"></script> #}
        <link rel="stylesheet" href="{{asset('assets/scss/front_office.css')}}">
        {% block stylesheets %}{% endblock %}

        <script defer src="{{asset('assets/axentix/js/axentix.min.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block navbar %}{% endblock %}
        {% block body %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
